---
import Typography from "@/components/Typography.astro"
---

<div class="flex h-screen items-center justify-center text-center">
	<div>
		<Typography as="h2" variant="bigger" color="primary">ERROR 404</Typography>
	</div>
</div>
