---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Demo title" description="Demo description" lang="en">
	<p slot="header">Header Demo</p>
	<p>Page content</p>
	<p slot="footer">Footer Demo</p>
</Layout>
