---
import SEO from "../components/SEO.astro"

interface Props {
	title: string
	description: string
	lang: string
}

const { title, description, lang }: Props = Astro.props
---

<!doctype html>
<html lang={lang}>
	<head>
		<SEO title={title} description={description} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<slot name="header" />
		</header>
		<main>
			<slot />
		</main>
		<footer>
			<slot name="footer" />
		</footer>
	</body>
</html>
